@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@keyframes mainBg{
  0%{
    background-position: 0% 0%;
  }
  25%{
    background-position: 50% 50%;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 100% 0%;
  }
}
@keyframes kedip{
  0%, 100%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}
.header-group.off{
  width: 60px;
  padding: 1.5px;
}
.list-group>li.landscape:hover{
  background: cyan;
  padding: 12px;
  height: 80%;
  border-radius: 12px;
}